jax-metal/
jax/
.DS_Store
analysis/regression/.DS_Store
analysis/regression/production/.DS_Store
analysis/.DS_Store
analysis/regression/production/.Rhistory
.Rproj.user
02-core-models/__pycache__/
.DS_Store
analysis/.DS_Store
analysis/regression/.DS_Store
analysis/regression/production/.DS_Store
09-presentation/20250710_LMBayes/posteriorSamples_global_soft_production.csv
09-presentation/20250710_LMBayes/posteriorSamples_incremental_soft_production.csv
__pycache__/
*.pyc
05-modelling-production-data/__pycache__/
05-modelling-production-data/__pycache__/helper.cpython-311.pyc
05-modelling-production-data/__pycache__/modelSpecification.cpython-311.pyc
05-modelling-production-data/__pycache__/helper.cpython-311.pyc
05-modelling-production-data/__pycache__/modelSpecification.cpython-311.pyc
